{{#section 'css'}}
<style>
    .btn:hover {
        background-color: #218838; /* Màu xanh đậm hơn khi hover */
        transform: scale(1.05); /* Tăng kích thước nhẹ */
    }
</style>
{{/section}}
<form class="forgot-password-form" action="" method="POST">
    <h2>Quên Mật Khẩu</h2>
    <input type="email" name="email" placeholder="Nhập email của bạn" required>
    <button type="submit" class="btn btn-success">Gửi</button>
</form>